<strong>Olá, {{ deliveryman }}</strong>
<p>Entrega cancelada, confira os detalhes:</p>
<p>
  <strong>Horario do cancelamento: </strong> {{ canceledAt }} <br /><br />
  <strong>Pedido: </strong> {{ product }} <br />
  <strong>Cliente: </strong> {{ client }} <br />
  <br />
  Local da entrega: <br />
  <strong>Rua: </strong> {{ street }}, {{ number }} - {{ postCode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Complemento: </strong> {{ complement }}
</p>