<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda para ser entregue, confira os detalhes: </p>
<p>
  <strong>Pedido: </strong> {{ product }} <br />
  <strong>Cliente: </strong> {{ client }} <br />
  <br />
  Local da entrega: <br />
  <strong>Rua: </strong> {{ street }}, {{ number }} - {{ postCode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Complemento: </strong> {{ complement }}
</p>